<footer id="colophon" class="footer" role="contentinfo">
  <div class="container">
    <div class="row text-start">
      <div class="col-12">
        <div class="footer-content">
          <p>
            Gartner, Gartner Peer Insights ‘Voice of the Customer’: Content
            Services Platforms, Peer Contributors, 29 March 2022.
          </p>
          <p>
            GARTNER is a registered trademark and service mark of Gartner, Peer
            Insights is registered trademark of Gartner, Inc. and GARTNER PEER
            INSIGHTS CUSTOMERS’ CHOICE badge is a trademark and service mark, of
            Gartner, Inc. and/or its affiliates in the U.S. and internationally
            and are used herein with permission. All rights reserved. Gartner
            Peer Insights content consists of the opinions of individual end
            users based on their own experiences with the vendors listed on the
            platform, should not be construed as statements of fact, nor do they
            represent the views of Gartner or its affiliates. Gartner does not
            endorse any vendor, product or service depicted in this content nor
            makes any warranties, expressed or implied, with respect to this
            content, about its accuracy or completeness, including any
            warranties of merchantability or fitness for a particular purpose.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-wrap foo-form-sec">
        <div class="footer-address">
          <ul class="d-flex flex-wrap">
            <li>
              <h5 class="has-lf-blue-color">Corporate Headquarters</h5>
              <p>3443 Long Beach Blvd. Long Beach, CA 90807 United States</p>
              <a
                class="has-lf-orange-color font-weight-heavy"
                href="tel:+18009858533"
                >+1 800 985 8533</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-form">
          <p>Get Updates and Insights Straight to Your Inbox</p>
          <div class="is-style-fill mt-3">
            <a
              href="https://www.laserfiche.com/subscribe/"
              class="acf-element acf-element-button btn text-uppercase border border-2 rounded-2 has-background has-lf-orange-background-color has-text-color has-base-color"
            >
              Subscribe Today
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <nav
        id="site-footer-navigation"
        class="footer-navigation col-12 col-lg"
        aria-label="Footer Navigation"
      >
        <ul id="footer-menu" class="footer-menu menu d-block d-lg-flex">
          <li
            id="menu-item-787060"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-787060"
          >
            <a href="https://www.laserfiche.com/resources/"
              ><span>Resources</span></a
            >
            <ul class="sub-menu">
              <li
                id="menu-item-787101"
                class="nav-heading menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-787101"
              >
                <a href="https://www.laserfiche.com/resources/"
                  ><span>INSIGHTS</span></a
                >
                <ul class="sub-menu">
                  <li
                    id="menu-item-787070"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-787070"
                  >
                    <a href="https://www.laserfiche.com/resources/blog/"
                      ><span>Blog</span></a
                    >
                  </li>
                  <li
                    id="menu-item-787075"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-787075"
                  >
                    <a
                      href="https://www.laserfiche.com/resources/customer-stories/"
                      ><span>Customer Stories</span></a
                    >
                  </li>
                  <li
                    id="menu-item-787080"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-787080"
                  >
                    <a
                      href="https://www.laserfiche.com/resources/ebooks-guides-more/"
                      ><span>eBooks, Guides &amp; More</span></a
                    >
                  </li>
                  <li
                    id="menu-item-791225"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-791225"
                  >
                    <a
                      href="https://www.laserfiche.com/resources/ebooks-guides-more/?post_types=videos"
                      ><span>Videos</span></a
                    >
                  </li>
                  <li
                    id="menu-item-787092"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-787092"
                  >
                    <a href="https://www.laserfiche.com/resources/press-center/"
                      ><span>Press Center</span></a
                    >
                  </li>
                </ul>
              </li>
              <li
                id="menu-item-791226"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-791226"
              >
                <a href="https://www.laserfiche.com/resources/events/"
                  ><span>EVENTS</span></a
                >
                <ul class="sub-menu">
                  <li
                    id="menu-item-798651"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-798651"
                  >
                    <a
                      href="https://www.laserfiche.com/resources/events/trade-shows/"
                      ><span>Trade Shows</span></a
                    >
                  </li>
                  <li
                    id="menu-item-800145"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-800145"
                  >
                    <a
                      target="_blank"
                      rel="noopener"
                      href="http://empower.laserfiche.com"
                      ><span>Empower</span></a
                    >
                  </li>
                  <li
                    id="menu-item-791227"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-791227"
                  >
                    <a
                      href="https://www.laserfiche.com/resources/events/user-groups/"
                      ><span>User Groups</span></a
                    >
                  </li>
                  <li
                    id="menu-item-787110"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-787110"
                  >
                    <a
                      href="https://www.laserfiche.com/resources/events/webinars/"
                      ><span>Webinars</span></a
                    >
                  </li>
                </ul>
              </li>
              <li
                id="menu-item-787112"
                class="nav-heading menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-787112"
              >
                <a href="#"><span>POPULAR LINKS</span></a>
                <ul class="sub-menu">
                  <li
                    id="menu-item-791229"
                    class="menu-item menu-item-type-post_type menu-item-object-post menu-item-791229"
                  >
                    <a
                      target="_blank"
                      rel="noopener"
                      href="https://info.laserfiche.com/resource/document-management-buyers-guide#new_tab"
                      ><span>The Document Management Buyer’s Guide</span></a
                    >
                  </li>
                  <li
                    id="menu-item-791228"
                    class="menu-item menu-item-type-post_type menu-item-object-post menu-item-791228"
                  >
                    <a
                      target="_blank"
                      rel="noopener"
                      href="https://info.laserfiche.com/resource/business-process-automation-buyers-guide#new_tab"
                      ><span>The Process Automation Buyer’s Guide</span></a
                    >
                  </li>
                  <li
                    id="menu-item-787115"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-787115"
                  >
                    <a
                      href="https://info.laserfiche.com/resources/csp-vendor-comparison"
                      ><span
                        >Vendor Comparison for Content Services Platforms</span
                      ></a
                    >
                  </li>
                  <li
                    id="menu-item-791230"
                    class="menu-item menu-item-type-post_type menu-item-object-post menu-item-791230"
                  >
                    <a
                      target="_blank"
                      rel="noopener"
                      href="https://info.laserfiche.com/resource/ultimate-guide-to-intelligent-document-capture#new_tab"
                      ><span
                        >The Ultimate Guide to Intelligent Document
                        Capture</span
                      ></a
                    >
                  </li>
                  <li
                    id="menu-item-800364"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-800364"
                  >
                    <a href="https://www.laserfiche.com/contact/"
                      ><span>Contact Us for Your ECM Needs</span></a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="about-footer-menu">
            <ul>
              <li>
                <span><a href="/about-us/">About Us</a></span>
              </li>
              <li><span>Our Company</span></li>
              <li><a href="/careers/">Careers</a></li>
              <li><a href="/leadership/">Leadership</a></li>
              <li><a href="/csr/">Laserfiche Cares</a></li>
              <li><a href="/legal/">Legal</a></li>
              <li><a href="/legal/privacy/">Privacy</a></li>
              <li><a href="/legal/cookie/">Cookie Statement</a></li>
              <li>
                <button id="ot-sdk-btn" class="ot-sdk-show-settings">
                  Do Not Sell Or Share My Personal Information
                </button>
              </li>
              <li>
                <a href="/legal/privacy/#california"
                  >California Notice of Collection</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <div class="social-menu">
          <ul class="d-flex social-icons menu justify-content-center">
            <li class="me-2 me-lg-3">
              <a
                href="https://www.linkedin.com/company/laserfiche/"
                target="_blank"
                class="social-icon d-flex align-items-center justify-content-center rounded-circle linkedin"
              >
                <svg
                  height="24"
                  width="24"
                  class="svg-icon linkedin"
                  aria-hidden="true"
                  role="img"
                >
                  <title id="title-linkedin-6144">linkedin</title>
                  <use xlink:href="#linkedin"></use>
                </svg>
                <span class="screen-reader-text"> Link to Linkedin </span>
              </a>
            </li>
            <li class="me-2 me-lg-3">
              <a
                href="https://www.facebook.com/laserfiche"
                target="_blank"
                class="social-icon d-flex align-items-center justify-content-center rounded-circle facebook"
              >
                <svg
                  height="24"
                  width="24"
                  class="svg-icon facebook"
                  aria-hidden="true"
                  role="img"
                >
                  <title id="title-facebook-15005">facebook</title>
                  <use xlink:href="#facebook"></use>
                </svg>
                <span class="screen-reader-text"> Link to Facebook </span>
              </a>
            </li>
            <li class="me-2 me-lg-3">
              <a
                href="https://twitter.com/laserfiche"
                target="_blank"
                class="social-icon d-flex align-items-center justify-content-center rounded-circle X"
              >
                <svg
                  height="24"
                  width="24"
                  class="svg-icon X"
                  aria-hidden="true"
                  role="img"
                >
                  <title id="title-x-3897">X</title>
                  <use xlink:href="#X"></use>
                </svg>
                <span class="screen-reader-text"> Link to X </span>
              </a>
            </li>
            <li class="me-2 me-lg-3">
              <a
                href="https://www.instagram.com/laserfiche/"
                target="_blank"
                class="social-icon d-flex align-items-center justify-content-center rounded-circle instagram"
              >
                <svg
                  height="24"
                  width="24"
                  class="svg-icon instagram"
                  aria-hidden="true"
                  role="img"
                >
                  <title id="title-instagram-12615">instagram</title>
                  <use xlink:href="#instagram"></use>
                </svg>
                <span class="screen-reader-text"> Link to Instagram </span>
              </a>
            </li>
            <li class="">
              <a
                href="https://www.youtube.com/@Laserfiche"
                target="_blank"
                class="social-icon d-flex align-items-center justify-content-center rounded-circle youtube"
              >
                <svg
                  height="24"
                  width="24"
                  class="svg-icon youtube"
                  aria-hidden="true"
                  role="img"
                >
                  <title id="title-youtube-50546">youtube</title>
                  <use xlink:href="#youtube"></use>
                </svg>
                <span class="screen-reader-text"> Link to Youtube </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="site-info">
          <section class="font-size-small">© 2024 Laserfiche</section>
        </div>
      </div>
    </div>
  </div>
</footer>
