<footer class="footer lf-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Popular Links</h3>
        <ul>
          <li>
            <a href="https://www.laserfiche.com/support-learn/what-is-ecm/"
              >What is ECM?</a
            >
          </li>
          <li>
            <a
              href="https://info.laserfiche.com/resource/ebook-diagram-business-process/"
              >Diagram Your Business Process</a
            >
          </li>
          <li>
            <a
              href="https://www.laserfiche.com/ecmblog/what-is-business-process-automation-bpa/"
              >What is Business Process Automation</a
            >
          </li>
          <li>
            <a
              href="https://www.laserfiche.com/ecmblog/whats-the-difference-between-document-and-records-management/"
              >The Difference Between Document and Records Management</a
            >
          </li>
          <li>
            <a
              href="https://info.laserfiche.com/resource/document-management-software-buyers-guide"
              >The Guide to Document Management</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Support &amp; Resources</h3>
        <ul>
          <li>
            <a href="https://answers.laserfiche.com/">Laserfiche Answers</a>
          </li>
          <li>
            <a href="https://support.laserfiche.com/">Learn &amp; Support</a>
          </li>
          <li>
            <a href="https://www.laserfiche.com/events/workshops/usergroups"
              >Join a Local User Group</a
            >
          </li>
          <li>
            <a href="https://sp-portal.laserfiche.com/solution-provider-portal/"
              >Solution Provider Portal</a
            >
          </li>
          <li><a href="https://jobs.laserfiche.com/">Laserfiche Careers</a></li>
          <li>
            <a href="https://info.laserfiche.com/email-signup"
              >Laserfiche Email Signup</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Events</h3>
        <ul>
          <li>
            <a href="https://www.laserfiche.com/Events/Webinars">Webinars</a>
          </li>
          <li>
            <a href="https://www.laserfiche.com/Events/Training"
              >Regional Training</a
            >
          </li>
          <li>
            <a href="https://www.laserfiche.com/Events/Workshops">Workshops</a>
          </li>
          <li>
            <a href="https://www.laserfiche.com/events/workshops/usergroups"
              >User Groups</a
            >
          </li>
          <li><a href="https://www.laserfiche.com/conference">Empower</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>About Laserfiche</h3>
        <ul>
          <li>
            <a href="https://www.laserfiche.com/about-laserfiche/">Our Story</a>
          </li>
          <li>
            <a href="https://www.laserfiche.com/presscenter/">Press Center</a>
          </li>
          <li><a href="https://jobs.laserfiche.com/Jobs">Careers</a></li>
          <li><a href="https://www.laserfiche.com/legal/">Legal</a></li>
          <li>
            <a href="https://www.laserfiche.com/legal/privacy/">Privacy</a>
          </li>
          <li>
            <a href="https://www.laserfiche.com/legal/cookie/"
              >Cookie Statement</a
            >
          </li>
          <li>
            <a href="https://info.laserfiche.com/contact-laserfiche"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row lf-footer-border">
      <div class="col-md-12 col-lg-6">
        <div class="foot-logo">
          <a href="https://www.laserfiche.com/"
            ><img
              src="https://assets.laserfiche.com/_common/laserfiche.svg"
              alt="Laserfiche"
            /></a
          >
        </div>
        <div class="foot-copy">© 2023 Laserfiche</div>
      </div>
      <div class="col-md-12 col-lg-6"></div>
    </div>
  </div>
</footer>
