#footer {
  min-height: $min-footer-height;
  background-color: $body-background-color;
  a:not([class]) {
    text-decoration: none;
  }
  ul,
  ol {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 12px;
    margin-left: 0px;

    li {
      &::before {
        content: none;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-menu {
      a {
        background-color: $lf-orange;
        color: white;
        border: 1px solid $lf-orange;
        border-radius: 0.313rem;
        font-size: 1rem;
        text-align: center;
        height: 2.1875rem;
        width: 2.1875rem;
        line-height: 1.1875rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          fill: currentColor;
          display: inline-block;
          height: 1em;
          width: 1em;
        }
      }
    }
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    div {
      font-weight: bold;
      color: $lf-orange;
      margin: 10px;
      margin-right: 0px;
    }

    .Resources,
    .about-footer-menu {
      padding: 10px;
      padding-right: 0px;
      .intermediate-menu {
        display: flex;
        flex-direction: row;
        align-items: space-around;
        flex-wrap: wrap;
        div {
          color: #8ba1b0;
          font-weight: bold;
          margin: 0px;
        }
        .sub-menu {
          div {
            color: $body-text-color;
            font-weight: normal;
          }
        }
        #ot-sdk-btn {
          border: none !important;
          background: transparent;
          color: $body-text-color;
          display: inline-block;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3;
          border: none;
          padding: 0;
        }
      }
    }

    .Resources {
      .sub-menu {
        margin-right: 4rem;
      }
    }
    @include mq(lg) {
      flex-direction: row;
    }
  }

  .social-menu {
    display: block;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      li {
        margin: 10px;
      }
    }
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main-content {
  .note {
    background-color: $note-bg-color;
  }
}

#theme-toggle {
  margin-left: auto;
  @include mq(lg) {
    margin-left: unset;
  }
}
