footer {
  background-color: white;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-links {
      display: flex;
      justify-content: space-around;
      list-style-type:none;
    }

    .social-menu {
        display: block;
        ul {
            list-style-type:none;
            display: flex;
            flex-direction: row;
            li {
                margin:10px;
            }

        }
    }
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
