// The basic two column layout

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    // stylelint-disable function-name-case
    // disable for Max(), we want to use the CSS max() function
    margin-left: Max(
      #{$nav-width},
      calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width})
    );
    // stylelint-enable function-name-case
  }
}

.main-content-wrap {
  @include container;

  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}

.main-header {
  z-index: 0;
  display: none;
  background-color: $sidebar-color;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    background-color: $body-background-color;
    border-bottom: $border $border-color;
  }

  &.nav-open {
    display: block;

    @include mq(md) {
      display: flex;
    }
  }
}

.site-nav,
.site-header,
site-footer {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}


#content-wrap {
  padding-bottom: 70rem;    /* Footer height */
}

.footer {
  position: absolute;;
  bottom: 0;
  width:100%;
  height: 70rem;
  background-color:$color-white;
  padding:3.75rem 0 2.5rem;
}

.lf-footer {background-color: $color-dark; color: $color-white; padding: $base-unit*5.5 0 0 0;
  h3 {color:$color-white; font-size: $base-unit*2.2; text-align: left;}
  ul {list-style: none; margin: 0 0 0 -40px; text-align: left;}
  li {margin: 0; padding: 0 0 10px  0; font-size: $font-size0*.9; line-height: $font-size0*1.1;;
    a {color: $color-footer;text-decoration:none;
    &:hover {color: $color-white; text-decoration: none;}
    }
  }
  .lf-footer-border {border-top: 1px solid rgba(255,255,255,.12); padding: 20px 0 ; margin: 20px 0 0 0;}
  .foot-copy {float: left; margin: 18px 0 0 10px; font-size: $font-size0*.8;}
  .foot-logo {float: left; width: 215px; margin: 0 0 0 -10px;}
}

.container {
  max-width:1140px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width:100%;
  padding-right:calc($bs-gutter-x*.5);
  padding-left: calc($bs-gutter-x*.5);
  margin-right:auto;
  margin-left: auto;
  box-sizing:border-box;
  display:block;
}
.text-start {
  text-align: left!important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right:calc($bs-gutter-x*-.5);
  margin-left: calc($bs-gutter-x*-.5);
  margin-top: calc($bs-gutter-y*-1);
  box-sizing:border-box;
}
.footer-content {
  margin:0 0 5rem;

  p {
    color:#8ba1b0!important;
    font-size: clamp(.875rem,.875rem + 0vw,.875rem);
    line-height: 1.3;
    margin-bottom:1.5rem;
    font-family:'trade-gothic-next', sans-serif
  }
}

.col-12{
  flex: 0 0 auto;
  width: 100%;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
  box-sizing:border-box;
  display:block;
}

.lf-footer-border {
  border-top:1px solid rgba(255,255,0,12);
  padding:20px 0;
  margin:20px 0 0 0;
}

.col-lg-6{
  flex: 0 0 50%;
  max-width:50%;
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
}


.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(md) {
    display: block;
    padding-top: $sp-8;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

.site-header {
  display: flex;
  min-height: $header-height;
  align-items: center;

  @include mq(md) {
    height: $header-height;
    max-height: $header-height;
    border-bottom: $border $border-color;
  }
}

.site-title {
  @include container;

  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  color: $body-heading-color;
  @include fs-6;

  @include mq(md) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
  }
}

@if variable-exists(logo) {
  .site-logo {
    width: 100%;
    height: 100%;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

.site-button {
  display: flex;
  height: 100%;
  padding: $gutter-spacing-sm;
  align-items: center;
}

@include mq(md) {
  .site-header .site-button {
    display: none;
  }
}

.site-title:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 80%,
    rgba($feedback-color, 0) 100%
  );
}

.site-button:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 100%
  );
}

// stylelint-disable selector-max-type

body {
  position: relative;
  padding-bottom: $sp-10;
  overflow-y: scroll;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  @include container;

  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  color: $grey-dk-000;
  @include fs-2;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}
