# VerificationStatus Enumeration
 

An enumeration of digitial signature verfication status codes.

**Namespace:**&nbsp;<a href="N_Laserfiche_RepositoryAccess">Laserfiche.RepositoryAccess</a><br />**Assembly:**&nbsp;Laserfiche.RepositoryAccess (in Laserfiche.RepositoryAccess.dll) Version: 12.0.0.0 (12.0.2509.107)

## Syntax

**C#**<br />
``` C#
public enum VerificationStatus
```

**VB**<br />
``` VB
Public Enumeration VerificationStatus
```


## Members
&nbsp;<table><tr><th></th><th>Member name</th><th>Value</th><th>Description</th></tr><tr><td /><td target="F:Laserfiche.RepositoryAccess.VerificationStatus.Unknown">**Unknown**</td><td>-1</td><td /></tr><tr><td /><td target="F:Laserfiche.RepositoryAccess.VerificationStatus.Success">**Success**</td><td>0</td><td /></tr><tr><td /><td target="F:Laserfiche.RepositoryAccess.VerificationStatus.Invalid">**Invalid**</td><td>1</td><td /></tr><tr><td /><td target="F:Laserfiche.RepositoryAccess.VerificationStatus.Untrusted">**Untrusted**</td><td>2</td><td /></tr><tr><td /><td target="F:Laserfiche.RepositoryAccess.VerificationStatus.Malformed">**Malformed**</td><td>3</td><td /></tr></table>

## See Also


#### Reference
<a href="N_Laserfiche_RepositoryAccess">Laserfiche.RepositoryAccess Namespace</a><br />