// Utility classes for colors

// Text colors

.text-grey-dk-000 {
  color: $grey-dk-000 !important;
}

.text-grey-dk-100 {
  color: $grey-dk-100 !important;
}

.text-grey-dk-200 {
  color: $grey-dk-200 !important;
}

.text-grey-dk-250 {
  color: $grey-dk-250 !important;
}

.text-grey-dk-300 {
  color: $grey-dk-300 !important;
}

.text-grey-lt-000 {
  color: $grey-lt-000 !important;
}

.text-grey-lt-100 {
  color: $grey-lt-100 !important;
}

.text-grey-lt-200 {
  color: $grey-lt-200 !important;
}

.text-grey-lt-300 {
  color: $grey-lt-300 !important;
}

// Background colors

.bg-grey-dk-000 {
  background-color: $grey-dk-000 !important;
}

.bg-grey-dk-100 {
  background-color: $grey-dk-100 !important;
}

.bg-grey-dk-200 {
  background-color: $grey-dk-200 !important;
}

.bg-grey-dk-250 {
  background-color: $grey-dk-250 !important;
}

.bg-grey-dk-300 {
  background-color: $grey-dk-300 !important;
}

.bg-grey-lt-000 {
  background-color: $grey-lt-000 !important;
}

.bg-grey-lt-100 {
  background-color: $grey-lt-100 !important;
}

.bg-grey-lt-200 {
  background-color: $grey-lt-200 !important;
}

.bg-grey-lt-300 {
  background-color: $grey-lt-300 !important;
}
